<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title></title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
  <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>

<% include menu %>

<div id='map'></div>

<script>

mapboxgl.accessToken = '<%= accessToken %>';
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/<%= basemap %>-v8',
  center: [<%= center %>],
  zoom: <%= zoom %>,
  hash: true,
  maxZoom: 30
});

var layers = {
  pts: [],
  lines: []
}

var lightColors = [
  'FC49A3', // pink
  'CC66FF', // purple-ish
  '66CCFF', // sky blue
  '66FFCC', // teal
  '00FF00', // lime green
  'FFCC66', // light orange
  'FF6666', // salmon
  'FF0000', // red
  'FF8000', // orange
  'FFFF66', // yellow
  '00FFFF'  // turquoise
];

function randomColor(colors) {
  var randomNumber = parseInt(Math.random() * colors.length);
  return colors[randomNumber];
}

map.on('load', function () {
  <% Object.keys(sources).forEach(function (sid) { %>

    map.addSource('<%= sid %>', {
      type: 'vector',
      tiles: [
        'http://localhost:<%= port %>/<%= sid %>/{z}/{x}/{y}.pbf'
      ],
      maxzoom: <%= sources[sid].maxzoom %>
    });

    <% include layers %>

  <% }); %>
});

</script>

</body>
</html>
